* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

/* и в обычном, и в мобильном представлении появляется горизонтальный скролл. не знаю, как это решить!!!*/

header {
  background-image: url(assets/images/Bridge.png);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.h1 {
  color: white;
  text-align: center;
  margin-top: 25%;
}

#bigP {
  font-weight: 500;
  font-size: 64px;
  width: 45vw;
}

.smallP {
  font-weight: 400;
  font-size: 18px;
}

.numbers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  width: 50vw;
  margin-top: 3%;
  padding: 5%;
}

.twSx {
  color: #f7654a;
  font-weight: 500;
  font-size: 72px;
}

.let {
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  color: black;
}

.naRynkie {
  color: #999999;
  font-weight: 500;
  font-size: 18px;
}

h3 {
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  padding-top: 7%;
  padding-bottom: 1%;
}

section {
  display: flex;
  flex-direction: column;
}

.orangeDash {
  height: 6px;
  width: 55px;
}

.arena {
  font-weight: 500;
  font-size: 24px;
  color: #404149;
}

.arText {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #999999;
}

.sections {
  display: flex;
  justify-content: center;
  gap: 4%;
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 7%;
}

.stripe {
  background-image: url(assets/images/Stripe.png);
  background-size: cover;
  background-attachment: scroll;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.paragraphs {
  margin: 1%;
}

button {
  height: 49px;
  width: 175px;
  align-self: center;
  justify-self: center;
}

.stripeP1 {
  font-weight: 700;
  font-size: 48px;
  color: #ffffff;
}

.stripeP2 {
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
}

.stripe button {
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}

.wwDoing,
nav > p {
  color: #000000;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  margin-top: 7%;
  margin-bottom: 3%;
}

.threeC,
.firstSixC,
.secondSixC {
  display: flex;
  justify-content: center;
  gap: 2%;
}

.grayCube {
  background-image: url(assets/images/GrayBack.png);
  width: fit-content;
  height: fit-content;
  margin: 2%;
  padding: 2%;
  text-align: center;
}

.threeC p,
.sixC p {
  font-weight: 500;
  font-size: 21px;
}

.fourContacts {
  display: flex;
  justify-content: center;
}

.fourContacts > div {
  margin: 2%;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
}

.contacts {
  color: #999999;
  padding: 10px;
}

.contTwo {
  color: #000000;
  padding: 10px;
}

.contTree {
  color: #f7654a;
  padding: 10px;
}

nav {
  padding-bottom: 4%;
  background-image: url(assets/images/GrayStripe.png);
  background-size: contain;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center bottom;
}

@media (max-width: 511px) {
  .h1 {
    margin-top: 15%;
    margin: 9%;
    text-align: center;
  }

  #bigP {
    font-size: 40px;
    text-align: center;
    width: 90%;
  }

  .smallP {
    font-size: 10px;
    text-align: center;
  }

  .twSx {
    font-size: 40px;
    text-align: center;
  }

  .let {
    font-size: 27px;
  }

  .naRynkie {
    font-size: 20px;
    text-align: center;
  }

  .numbers {
    width: 84vw;
    height: 40%;
    margin-top: 5%;
    padding: 12%;
  }

  header {
    background-position: center;
  }
  .sections {
    overflow: scroll;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 15%;
    gap: 4%;
  }

  h3 {
    margin: 9%;
  }

  .stripe {
    height: fit-content;
  }

  .paragraphs {
    margin: 9%;
  }

  .stripeP1 {
    font-size: 30px;
  }

  .stripeP2 {
    font-size: 18px;
  }

  button {
    margin: 5%;
  }

  .threeC,
  .firstSixC,
  .secondSixC {
    overflow: scroll;
    margin: 4%;
    padding: 4%;
  }

  .wwDoing {
    padding: 4%;
  }

  .fourContacts {
    flex-wrap: wrap;
  }

  .fourContacts > div {
    margin: 2%;
    margin-bottom: 8%;
  }
}
