* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

/* .nav,
main,
.cnttInsideOrgStr,
footer {
  width: 50vw;
  display: flex;
  justify-content: center;
} */

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

header {
  /* width: 1920px;
  height: 740px; */
  background-image: url(assets/images/Bridge.png);
  background-size: 100vw auto;
  background-repeat: repeat-x;
  background-position: center top;
  background-attachment: scroll;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.h1 {
  color: white;
  text-align: center;
}

#bigP {
  font-weight: 500;
  font-size: 64px;
  max-width: 45vw;
}

.smallP {
  font-weight: 400;
  font-size: 18px;
}

.numbers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  width: 50vw;
  height: 35%;
  margin-top: 20px;
}

.twSx {
  color: #f7654a;
  font-weight: 500;
  font-size: 72px;
}

.let {
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  color: black;
}

.naRynkie {
  color: #999999;
  font-weight: 500;
  font-size: 18px;
}

main {
  /* padding: 60px; */
  /* display: flex;
  flex-direction: column; */
}

h3 {
  font-size: 36px;
  font-weight: 500;
  text-align: center;
}

section {
  /* width: 350px;
  height: 578px; */
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.arena {
  font-weight: 500;
  font-size: 24px;
  color: #404149;
}

.arText {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #999999;
}

.sections {
  display: flex;
  justify-content: center;
}

.stripe {
  background-image: url(assets/images/Stripe.png);
  background-size: 100vw auto;
  background-repeat: repeat-x;
  background-attachment: scroll;
  width: 100vw;
}

.stripeP1 {
  font-weight: 700;
  font-size: 48px;
  color: #ffffff;
}

.stripeP2 {
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
}

.stripe button {
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}

.grayStripe {
  background-image: url(assets/images/GrayBack.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: 100vw;
}
